.hero{
    width: 100vw;
    height: 85vh;
    background-image: url("./hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroMask{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .4);
}


.heroh1{
    font-family: Lobster;
    font-size: 70px;
    position: absolute;
    left: 15%;
    top: 20%;
    color: white;
    z-index: 2;
    text-align: center;
}

.heroh2{
    font-family: Montserrat;
    font-size: 40px;
    position: absolute;
    left: 25%;
    top: 35%;
    font-weight: bold;
    color: rgb(240, 88, 33);
    z-index: 2;
    text-align: center;
}

.herobutton{
    z-index: 2;
    font-size: 35px;
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    text-decoration: none;
    height: 80px;
    width: 250px;
    background: rgb(240, 88, 33);
    border: 1px solid blueviolet;
    border-radius: 5px;
    display: block;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50vw;
    top: 55vh;
    transform: translate(-50%, -50%);
}

.herobutton:hover{
    cursor: pointer;
    background: rgba(240, 88, 33, .6);
    color: rgba(255, 255, 255, .8);
}

@media screen and (max-width:920px){

    .heroh1{
        font-size: 40px;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-wrap: break-word;
        top: 20vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .heroh2{
        font-size: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-wrap: break-word;
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }

    .herobutton{
        top: 60vh;
    }
}

@media screen and (max-width:500px){

    .heroh1{
        font-size: 30px;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-wrap: break-word;
        top: 20vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
    .heroh2{
        font-size: 25px;
        align-items: center;
        justify-content: center;
        text-align: center;
        word-wrap: break-word;
        top: 40vh;
        left: 50vw;
        transform: translate(-50%, -50%);
    }
}